<% #  This file is Favorites in app/views/movies/favorites.html.erb %>
<head>
    <%= stylesheet_link_tag 'default' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <title>Favorites</title>
</head>
<body>
    <div id="main-container" class="container-fluid">
        <br/>
        <br>
        <div class="row" id="Services">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 offset-lg-1 offset-md-1">
                <h1>Supported Services:</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("White_Prime_Video_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("Hulu_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("Netflix_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("White_Youtube_Logo.png"), :class => "Logo"%>
            </div>
        </div>
        <br/>
        <br/>
        <div class="album text-muted offset-lg-1 offset-md-1 col-lg-10 col-md-10">
   <div class="container">
      <div class="row">
         <% @favorites.each do |movie| %>
         <div class="card text-white bg-dark mb-3">
            <a href="<%= movie_path(movie) %>"><%= image_tag(movie.imgurl)%><a>
            <strong class="card-text"><%= movie.title %></strong>
            <p class="card-text"><%= movie.rating %></p>
            <p class="card-text"><%= movie.release_date %></p>
         </div>
         <% end %>
      </div>
   </div>
</div>
    </div>
</body>