<% #  This file is app/views/movies/favorites.html.erb %>
<head>
    <%= stylesheet_link_tag 'default' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    
    <title>Favorites</title>
</head>
<body>
    <div id="main-container" class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <%= form_tag movies_path, :id => "search bar", :method => :get do %>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <%= text_field_tag :search, params[:search], :class => "form-control", :id => "extend" %>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <%= submit_tag "Search", :id => "search_submit", :class => "btn" %>
                    </div>
                <% end %>
            </form>
        </div>
        <br/>
        <br>
        <div class="row" id="Services">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 offset-lg-1 offset-md-1">
                <h1>Supported Services:</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("White_Prime_Video_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("Hulu_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("Netflix_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("White_Youtube_Logo.png"), :class => "Logo"%>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
        
            <table id="movies" class="table table-dark offset-lg-1 offset-md-1 col-lg-10 col-md-10">
              <tbody>
                <% @favorites.each do |movie| %>
                  <tr>
                    <td>
                      <%= movie.title %>
                    </td>
                    <td>
                      <%= movie.rating %>
                    </td>
                    <td>
                      <%= movie.release_date %>
                    </td>
                    <td>
                      <%= link_to "More about #{movie.title}", movie_path(movie) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</body>