<h3>Post a Comment</h3>

<div class="field">
    <%= form_for [ @movie, @comment ] do |f| %>
      <p>
        <%= f.label :author_name, "Your Name", :class => 'field-label' %><br/>
    <h4 class="make-shit-white"><%= current_user.email.split("@")[0] %></h4>

      </p>
      <p>
        <%= f.label :body, "Your Comment", :class => 'field-label' %><br/>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit 'Submit' %>
      </p>
    <% end %>
</div>