-#  This file is app/views/movies/index.html.haml
%h1 Welcome!

-# Form for ratings filter
= form_tag movies_path, :id => "ratings_form", :method => :get do
  %p
    Providers:
    - @all_ratings.each do |rating|
      = rating
      = check_box_tag "ratings[#{rating}]"
    = submit_tag  'Refresh', :id => "ratings_submit"

= form_tag movies_path, :id => "search bar", :method => :get do
  %p
    = text_field_tag :search, params[:search], class: "form-control"
    = submit_tag "Search", :id => "search_submit"


= link_to 'Login / New User', new_movie_path