<% #  This file is app/views/movies/index.html.erb %>
<head>
    <%= stylesheet_link_tag 'default' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
    <div id="main-container" class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <%= form_tag movies_path, :id => "search bar", :method => :get do %>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <%= text_field_tag :search, params[:search], :class => "form-control", :id => "extend" %>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <%= submit_tag "Search", :id => "search_submit", :class => "btn" %>
                    </div>
                <% end %>
            </form>
        </div>
        <br/>
        <br>
        <div class="row" id="Services">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 offset-lg-1 offset-md-1">
                <h1>Supported Services:</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("White_Prime_Video_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("Hulu_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("Netflix_Logo.png"), :class => "Logo"%>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <%= image_tag ("White_Youtube_Logo.png"), :class => "Logo"%>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class = "filters col-lg-1 col-md-1">
                <%= form_tag movies_path, :id=>'ratings_form', :method => :get do %>
                  <h1>Include:</h1>
                  <hr>
                  <% @all_ratings.each do |rating| %> 
                    <br>
                    <%= check_box_tag "ratings[#{rating}]", 1, ( @ratings[rating]),  :id=>"ratings[#{rating}]", :class =>"form-check-label form-inline" %>
                    <h4 id="rating"><%= rating %></h4>
                  <% end %>
                  <br>
                  <%= submit_tag 'Refresh', :id=> "ratings_submit" %>
                <% end %>
            </div>
        
            <table id="movies" class="table table-dark offset-lg-1 offset-md-1 col-lg-10 col-md-10">
              <thead>
                <tr>
                  <th id="Poster">Poster</th>
                  <th class="<%= ("hilite" if @sort_by == "title") %>">
                    <%= link_to 'Movie Title', movies_path(:sort_by => 'title', :ratings=>@ratings), :id=> "title_header"  %>
                  </th>

                  <% # Highlight the header     #Create the link      #set sort to 'title' %>
                  <th>Provider</th>
                  <th class="<%= ("hilite" if @sort_by == "release_date") %>">
                    <%= link_to 'Release Date', movies_path(:sort_by => 'release_date', :ratings=>@ratings), :id => "release_date_header"%>
                  </th>

                  <% # Highlight the header     #Create the link      #set sort to 'release_date' %>
                  <th id="More">More Info</th>
                </tr>
              </thead>
              <tbody>
                <% @movies.each do |movie| %>
                  <tr>
                    <td>
                       <%= image_tag (movie.imgurl), :class => "Poster"%>
                    </td>
                    <td>
                      <%= movie.title %>
                    </td>
                    <td>
                      <%= movie.rating %>
                    </td>
                    <td>
                      <%= movie.release_date %>
                    </td>
                    <td>
                      <%= link_to "More about #{movie.title}", movie_path(movie) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</body>