-#  This file is app/views/movies/index.html.haml
%h1 Welcome!

= form_tag movies_path, :id => "search bar", :method => :get do
  %p
    = text_field_tag :search, params[:search], class: "form-control"
    = submit_tag "Search", :id => "search_submit"

%br
%br
  %p
    = image_tag ("main_screen_logos.png")

%br
%br

= link_to 'Login / New User', new_movie_path