<% # in app/views/movies/show.html.haml %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <%= stylesheet_link_tag 'default' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        
        <title>Movie</title>
    </head>
    <body>
    <br>
        <h1 class="movie_header">Details about <%=@movie.title %></h1>
        <hr>
        <div class="row">
            <div id="poster" class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2">
                <%= image_tag (@movie.imgurl), :class => "Poster"%>
                <br>
                <br>
                <center>
                <div id="movie_options" class="turn_white">
                    <%= link_to 'Edit', edit_movie_path(@movie) %>
                    <br>
                    <% if user_signed_in? %>
                    <%- unless current_user.favorite_movies.exists?(id: @movie.id) -%>
                    <%= link_to 'Add to favorites', favorite_movies_path(movie_id: @movie), method: :post %>
                    <%- else -%>
                    <%= link_to 'Remove from favorites', favorite_movie_path(@movie), method: :delete %>
                    <%- end -%>
                    <% end %>
                    </br>
                    <br>
                    <%= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?', :class => 'actions' %>
                    
                    </br>
                    
                    
                    <%= link_to 'Back to movie list', movies_path %>
                </div>
                </center>
            </div>
            <div id="movie_content" class="col-lg-offset-1 col-md-offset-1 col-lg-7 col-md-7">
                <ul id="details">
                  <h3>
                  <li>
                    Rating:
                    <%= @movie.rating %>
                  </li>
                  <li>
                    Released on:
                    <%= @movie.release_date.strftime("%B %d, %Y") %>
                  </li>
                  <li>
                    Times Favorited: 
                    <%= @movie.favcounter %>
                  </li>
                  </h3>
                </ul>
                <h3>Description:</h3>
                <p id="description">
                  <%= @movie.description %>
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Comments (<%= @movie.comments.size %>)</h1>
        <br>
        <div class="row">
            <% if user_signed_in? %>
            <div class="col-lg-offset-1 col-lg-2">
                <%= render partial: 'movies/form' %>
            </div>
            <% else %>
            <%= link_to 'Sign in to post a comment', new_user_session_path %>
            <%- end %>

            
            <div class="col-lg-offset-1 col-lg-7">
                <%= render partial: 'movies/comment', collection: @movie.comments %>
            </div>
    </body>
</html>