<% # This is the user settings page in edit.html.erb %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <%= stylesheet_link_tag 'default' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        
        <title>User Settings</title>
    </head>
    <body>
        <center>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="field">
            <%= f.label :email, :class => 'field-label' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        <br>
          <div class="field">
            <div class="turn_white"><%= f.label :password, :class => 'field-label' %> <i>(leave blank if you don't want to change it)</i><br /></div>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <div class="turn_white"><em><%= @minimum_password_length %> characters minimum</em></div>
            <% end %>
          </div>
        <br>
          <div class="field">
            <%= f.label :password_confirmation, :class => 'field-label' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        <br>
          <div class="field">
            <div class="turn_white"><%= f.label :current_password, :class => 'field-label' %> <i>(we need your current password to confirm your changes)</i><br /></div>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        <br>
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
        
        <br>
        <br>
        
        <h3>Cancel my account</h3>
        
        <p>Unhappy? 
            <br>
            <button type="button" class="btn"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></button>
        </p>
        
        <div class="turn_white">
            <%= link_to "Back", :back %>
        </div>
        </center>
    </body>
</html>