<% #  This file is the change password page in app/views/devise/passwords/edit.html.erb %>
<head>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'default' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <title>User Settings</title>
</head>
<body>
    <center>
    <h2>Change your password</h2>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="field">
        <%= f.label :password, "New password", :class => 'field-label' %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password", :class => 'field-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Change my password" %>
      </div>
        <% end %>
        
        <div class="turn_white">
            <%= render "devise/shared/links" %>
        </div>
        </center>
    </body>
</html>