<% # This is the forgot your password page %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <%= stylesheet_link_tag 'default' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        
        <title>Recover Password</title>
    </head>
    <body>
        <center>
        
        <br>
        
        <h1>Forgot your password?</h1>
        
        <br>
        <br>
        

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|%>
            <%= render "devise/shared/error_messages", resource: resource%>

        
          <div class="field">
            <%= f.label :email, :class => 'field-label' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
        <br>
            
          <div class="actions">
            <%= f.submit "Send me reset password instructions"%>
          </div>
        <% end %>
        
        <br>
        
        <div class="turn_white">
            <%= render "devise/shared/links" %>
        </div>
        </center>
    </body>
</html>